<header class="site-header">
	<div class="container header-inner">
		<a class="brand" href="/">
			<img src="/resources/img/logo_orig.png" alt="Chip Companion logo" class="brand-logo" />
			<span>Chip Companion</span>
		</a>
		<nav>
			<a href="/">Home</a>
			<a href="/login">Login</a>
			<a href="/register">Register</a>
			<a href="/usersettings">User Settings</a>
			<a href="/sessions">Sessions</a>
			<a href="/news">News</a>
		</nav>
		{{#if user}}
			<form action="/logout" method="POST">
				<button type="submit">Logout ({{user.username}})</button>
			</form>
		{{/if}}
	</div>
</header>
